# Task - 1



## For this File Please Follow all the Comments mentioned in this Notebook and complete Till Missing value treatment.

## 1. Basic Pandas Operations

In [1]:
# Import all the required Libraries

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read the dataset and display the head. You will get the output as mentioned below

df=pd.read_csv('train.csv')
df.head()

,Unnamed: 0,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,27385,27386,C3,64,Owned,Individual,36,36,No,X1,14+,2.0,16,13320.0,0
1,33499,33500,C3,2955,Owned,Individual,66,66,No,X6,10,1.0,19,16152.0,0
2,7997,7998,C1,1542,Rented,Individual,24,24,No,NaN,3,1.0,16,7310.0,0
3,33032,33033,C26,772,Rented,Individual,75,75,No,X1,1,3.0,16,15792.0,0
4,30516,30517,C2,1510,Owned,Joint,59,58,Yes,X1,14+,4.0,17,23673.0,0

In [3]:
# Check the shape of the dataframe

df.shape

(10000, 15)

## Observation:

There are 10000 rows or datapoints and 15 features or variables

In [4]:
# On the dataframe apply info() function and observe the Dtypes and Missing Values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               10000 non-null  int64
 1   ID                       10000 non-null  int64
 2   City_Code                10000 non-null  object
 3   Region_Code              10000 non-null  int64
 4   Accomodation_Type        10000 non-null  object
 5   Reco_Insurance_Type      10000 non-null  object
 6   Upper_Age                10000 non-null  int64
 7   Lower_Age                10000 non-null  int64
 8   Is_Spouse                10000 non-null  object
 9   Health Indicator         7671 non-null   object
 10  Holding_Policy_Duration  5946 non-null   object
 11  Holding_Policy_Type      5946 non-null   float64
 12  Reco_Policy_Cat          10000 non-null  int64
 13  Reco_Policy_Premium      10000 non-null  float64
 14  Response                 10000 non-null  int64
dtypes: float64(2), int64(7), object(6)
memory usage: 1.1+ MB

### Observations:

There are initially 7 int datatype variables, 2 float datatype variables and 6 object datatype variables in the dataset.

There are null values in Health Indicator, Holding_Policy_Duration, Holding_Policy_Type,features.

## 2. Cleaning the Data

In [5]:
df.isnull().sum()

Unnamed: 0                    0
ID                            0
City_Code                     0
Region_Code                   0
Accomodation_Type             0
Reco_Insurance_Type           0
Upper_Age                     0
Lower_Age                     0
Is_Spouse                     0
Health Indicator           2329
Holding_Policy_Duration    4054
Holding_Policy_Type        4054
Reco_Policy_Cat               0
Reco_Policy_Premium           0
Response                      0
dtype: int64

In [6]:
# Impute the Null values in Health Indicator, Holding_Policy_Duration and Holding_Policy_Type

#lets impute the missing values with the mode

df['Health Indicator'].fillna(df['Health Indicator'].mode()[0],axis=0,inplace=True)
df['Holding_Policy_Duration'].fillna(df['Holding_Policy_Duration'].mode()[0],axis=0,inplace=True)
df['Holding_Policy_Type'].fillna(df['Holding_Policy_Type'].mode()[0],axis=0,inplace=True)
# -> if categrical :  Fill  "Mode"
# -> in  Neumerical : "Median" Always (because the mean will not be affected by the median)

## observation:

I replaced null values with mode of that features.

In [7]:
df.isnull().sum()

Unnamed: 0                 0
ID                         0
City_Code                  0
Region_Code                0
Accomodation_Type          0
Reco_Insurance_Type        0
Upper_Age                  0
Lower_Age                  0
Is_Spouse                  0
Health Indicator           0
Holding_Policy_Duration    0
Holding_Policy_Type        0
Reco_Policy_Cat            0
Reco_Policy_Premium        0
Response                   0
dtype: int64

In [8]:
# Check again Holding_Policy_Duration is in object column convert that into int

df['Holding_Policy_Duration']=df['Holding_Policy_Duration'].apply(lambda x: str(15) if x=='14+' else x)
df['Holding_Policy_Duration']=pd.to_numeric(df['Holding_Policy_Duration'])
df['Holding_Policy_Duration'].dtype

dtype('int64')

## Observations:

First I replaced 14+ in Holding_Policy_Duration feature with 15.

Later converted this feature into int datatype using pandas.to_numeric() inbuilt function.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               10000 non-null  int64
 1   ID                       10000 non-null  int64
 2   City_Code                10000 non-null  object
 3   Region_Code              10000 non-null  int64
 4   Accomodation_Type        10000 non-null  object
 5   Reco_Insurance_Type      10000 non-null  object
 6   Upper_Age                10000 non-null  int64
 7   Lower_Age                10000 non-null  int64
 8   Is_Spouse                10000 non-null  object
 9   Health Indicator         10000 non-null  object
 10  Holding_Policy_Duration  10000 non-null  int64
 11  Holding_Policy_Type      10000 non-null  float64
 12  Reco_Policy_Cat          10000 non-null  int64
 13  Reco_Policy_Premium      10000 non-null  float64
 14  Response                 10000 non-null  int64
dtypes: float64(2), int64(8), object(5)
memory usage: 1.1+ MB

In [10]:
# Observe that ['Accomodation_Type','Reco_Insurance_Type','Is_Spouse'] 
# above these Object columns have two values - Yes and No


df[['Accomodation_Type','Reco_Insurance_Type','Is_Spouse']].nunique()

Accomodation_Type      2
Reco_Insurance_Type    2
Is_Spouse              2
dtype: int64

## Observation:

Accomodation_Type, Reco_Insurance_Type, Is_Spouse have only 2 unique values.

In [11]:
# Converting all the Yes to 1 and No to 0. 
# Write a for loop to iterate over the list given above
# For each feature use pandas 'apply()' to convert all the 'Yes' to 1 and 'No' to 0


df['Accomodation_Type']=df['Accomodation_Type'].apply(lambda x:1 if x=='Owned' else 0)
df['Reco_Insurance_Type']=df['Reco_Insurance_Type'].apply(lambda x:1 if x=='Individual' else 0)
df['Is_Spouse']=df['Is_Spouse'].apply(lambda x:1 if x=='Yes' else 0)

## Observations:

I converted values of Accomodation_Type, Reco_Insurance_Type, Is_Spouse features into 1 and 0.
 
 In Accomodation_Type - 'Owned' by 1, 'Rented' by 0.  
 In Reco_Insurance_Type - 'Individual' by 1, 'Joint' by 0.<br>
 In Is_Spouse - 'Yes' by 1, 'No' by 0.

In [12]:
# Now again having a look at all those columns to see if everything went well
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               10000 non-null  int64
 1   ID                       10000 non-null  int64
 2   City_Code                10000 non-null  object
 3   Region_Code              10000 non-null  int64
 4   Accomodation_Type        10000 non-null  int64
 5   Reco_Insurance_Type      10000 non-null  int64
 6   Upper_Age                10000 non-null  int64
 7   Lower_Age                10000 non-null  int64
 8   Is_Spouse                10000 non-null  int64
 9   Health Indicator         10000 non-null  object
 10  Holding_Policy_Duration  10000 non-null  int64
 11  Holding_Policy_Type      10000 non-null  float64
 12  Reco_Policy_Cat          10000 non-null  int64
 13  Reco_Policy_Premium      10000 non-null  float64
 14  Response                 10000 non-null  int64
dtypes: float64(2), int64(11), object(2)
memory usage: 1.1+ MB

## Observations:

Now there are no null values in the dataset,There are 11 int datatype, 2 float datatype, 2 object datatype features in the dataset.

In [13]:
# Checking all the Object Dtypes - Here, these columns have more than 2 categories

df[['City_Code','Health Indicator']].nunique()

City_Code           36
Health Indicator     9
dtype: int64

## Observations:

City Code,Health Indicator features have 36,9 unique values respectively.

In [14]:
# Observe that all those columns are now converted from Object to Int64

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               10000 non-null  int64
 1   ID                       10000 non-null  int64
 2   City_Code                10000 non-null  object
 3   Region_Code              10000 non-null  int64
 4   Accomodation_Type        10000 non-null  int64
 5   Reco_Insurance_Type      10000 non-null  int64
 6   Upper_Age                10000 non-null  int64
 7   Lower_Age                10000 non-null  int64
 8   Is_Spouse                10000 non-null  int64
 9   Health Indicator         10000 non-null  object
 10  Holding_Policy_Duration  10000 non-null  int64
 11  Holding_Policy_Type      10000 non-null  float64
 12  Reco_Policy_Cat          10000 non-null  int64
 13  Reco_Policy_Premium      10000 non-null  float64
 14  Response                 10000 non-null  int64
dtypes: float64(2), int64(11), object(2)
memory usage: 1.1+ MB

In [15]:
# Lets just try to see what is happening Response. Check the output.

df['Response'].value_counts()

0    7541
1    2459
Name: Response, dtype: int64

In [16]:
print(df.shape)
# Dropping unknown column

# Write the code here to drop unknown column and check dataframe shape


df.drop('Unnamed: 0',axis=1,inplace=True)

df.shape

(10000, 15)

(10000, 14)

In [17]:
# Getting all the Object Dtypes

df.select_dtypes(include='object').columns

Index(['City_Code', 'Health Indicator'], dtype='object')

In [40]:
# Encoding the categorical features



# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)

# Write the code here to use 'encoder' to convert all the categorical columns to numerical representations
# Take extra care to convert encoded numpy array to dataframe and call that data fram 'df_encoded'

from sklearn.preprocessing import OneHotEncoder

OHE=OneHotEncoder(handle_unknown='ignore')
one_hot_encoded=OHE.fit_transform(df[['Health Indicator']])

df_encoded=pd.DataFrame(one_hot_encoded.toarray(),columns=sorted(df['Health Indicator'].unique().tolist()))

In [41]:
# Observe that all those columns are now converted from Object to Int64
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10000 non-null  int64
 1   City_Code                10000 non-null  object
 2   Region_Code              10000 non-null  int64
 3   Accomodation_Type        10000 non-null  int64
 4   Reco_Insurance_Type      10000 non-null  int64
 5   Upper_Age                10000 non-null  int64
 6   Lower_Age                10000 non-null  int64
 7   Is_Spouse                10000 non-null  int64
 8   Health Indicator         10000 non-null  object
 9   Holding_Policy_Duration  10000 non-null  int64
 10  Holding_Policy_Type      10000 non-null  float64
 11  Reco_Policy_Cat          10000 non-null  int64
 12  Reco_Policy_Premium      10000 non-null  float64
 13  Response                 10000 non-null  int64
dtypes: float64(2), int64(10), object(2)
memory usage: 1.1+ MB

In [42]:
# Concatinating the original data frame and onehot encoded dataframe

df1=df.join(df_encoded)

In [43]:
# Drop all the unwanted columns.


# Because we have already encoded them and added to main dataframe


df1.drop(['ID','Health Indicator','X9'],axis=1,inplace=True)

## Observations:

I dropped ID, Health Indicator,X9 features.
I dropped X9 feature, to avoid multicollinearity.